body {
	width: 100%;
	min-height: 100%;
	background-color: rgba(219, 219, 219, .3);
	}


/*BLUE BACKGROUND*/
#background {
	background-color: hsla(180, 65%, 81%, .5);
	margin: 0 auto;
    width: 90%;
    margin-bottom: 25px;
    display: border-box;
    margin-top: 85px;		

}


/*CONTAINER HOLDING ROW*/
.container {
	margin: 0 auto;
	padding: 5%;
	margin-bottom: 25px;
}

.row {
	margin: 0 auto;
}


/*PHOTO OF JESS*/
img {
	box-shadow: 1px 1px 2px rgba(46, 49, 49, .7);
	margin-top: 20px;
}


/*HI I'M JESS*/
h1 {
	font-family:'Open Sans Condensed', sans-serif;
	color: hsla(300, 47%, 75%, 1);
	text-align: center;
	text-shadow: 1px 1px 1px rgba(46, 49, 49, .1);
}


/*BLURB*/
 p {
	text-align: left;
	font-family: 'Jost', sans-serif;
	font-weight: 400;
	font-size: 1.10rem;
}

.blurb {
	margin-top: 40px;
}
	

/*MARGIN FROM FOOTER WHEN STACKED*/
@media only screen and (max-width: 1200px) {
	#background {
		margin-bottom: 25px;
	}

	.container {
		margin-bottom: 25px;
	}
}


/*NAVBAR*/
.navbar-dark {
	background-color: hsla(300, 47%, 75%, 1);
}

/*JESSICA MAYE*/
.navbar-dark .navbar-brand {
	color: hsl(180, 65%, 81%);
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	text-shadow: 1px 1px 1px rgba(46, 49, 49, .1);
}

.navbar-dark .navbar-brand:hover {
	color: white;
}


/*NAV LINKS*/
.navbar-dark .navbar-nav .nav-link {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.2rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: hsl(180, 65%, 81%);
}

#active {
	color: hsl(180, 65%, 81%);
}


/*FOOTER REQUIREMENTS*/
#page-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  
}

#content-wrap {
  padding-bottom: 3rem;
    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;   
  background-color: hsla(300, 47%, 75%, 1);
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  font-family: 'Open Sans Condensed', sans-serif;   
}

footer p {
	font-family: 'Open Sans Condensed', sans-serif; 
}


